// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// MDB  
// @import 'mdb-ui-kit/css/mdb.min.css';

// Datatable
// @import 'datatables.net-bs4/css/dataTables.bootstrap4.css';

* {
    // border: 1px solid red;
}

.bg-login {
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    filter: brightness(50%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-login{
    background-color: black;
    color: white;
    background: rgba(0, 0, 0, 0.8);
}

.form-control:focus {
    border: none;
}

.btn-black{
    background-color: #212529;
}

.image-dashboard{
    height: 100vh;
}
